<mat-card [formGroup]="form">
  <section class="content-area">

    <section>
      <strong>{{ form.value.parent | translatable: 'name' | async }}</strong>
      <small i18nLabel="parentMenuItem"></small>
    </section>

    <section>
      <strong>{{ (form.value.order || 0) + 1 }}</strong>
      <small i18nLabel="menuPlacement"></small>
    </section>

    <mat-divider></mat-divider>

    <cin-grid-row columns="6">
      <mat-form-field appearance="outline" [cinAssignColumns]="3">
        <mat-label i18nLabel="menuName"></mat-label>
        <input matInput formControlName="name">
      </mat-form-field>

      <cin-icon-form formControlName="icon" [cinAssignColumns]="1">
      </cin-icon-form>
    </cin-grid-row>

    <mat-form-field appearance="outline">
      <mat-label i18nLabel="shortDescription"></mat-label>
      <input matInput formControlName="shortDescription">
    </mat-form-field>

  </section>

  <button mat-button
    class="delete-button"
    (click)="onDelete()">
    <cin-icon [icon]="['fas', 'trash']"></cin-icon>
  </button>
</mat-card>